// component css goes here
// .deviation-box{
//     margin-left: 300px;
// }
// .contest-details{
//     width:40% !important;
// }

.input-field-id{
    display: none;
}
input[type=checkbox]{
    margin-left: 5%;
    height: 15px;
    width: 15px;
}
div.text-danger {
    margin: 10px 0px 0px 0px;
    color: red;
}