<h4 style="margin-left: 30px;margin-top: 60px;">Maker Details</h4>
<span style="float:right; margin-top: -30px;margin-right: 30px;">CONTEST NAME: {{contestname}}</span>

<div>
    <div>
        <ul class="nav nav-tabs tab-section">
            <li class="active"><a data-toggle="tab" href="#home">Cash</a></li>
            <li><a data-toggle="tab" href="#menu2">Tickets</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="section-box">
                    <a routerLink="/addDeviation"><button class="exide-primary-button" style="float: right;margin-top: 10px;">Add new Deviation</button></a>
                    <div class="maker-right-section">
        <button class="btn exide-secondary-button" (click)="sendToChecker()">Send to checker</button>
    </div>
                    <ag-grid-angular 
                    style="height: 400px;" 
                    class="ag-theme-balham ag-grid" 
                    [gridOptions]="gridOptions" 
                    [enableSorting]="true"
                    [enableFilter]="true" 
                    [rowData]="lists" 
                    [columnDefs]="columnDefs" 
                    [isRowSelectable]="isRowSelectable" 
                    [showToolPanel]="showToolPanel"
                    [rowSelection]="rowSelection"
    [enableColResize]="true"
    (rowClicked)="onRowClicked($event)" 
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationNumberFormatter]="paginationNumberFormatter"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef">
                    </ag-grid-angular>
                    <div class="col-md-6" style="float: left;margin-top: -24px;margin-left: -15px;">
                        <div class="col-md-2" style="padding-left: 0px;">
                            <select (change)="onPageSizeChanged()" id="page-size" class="pageSize form-control">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <label for="code" style="margin-top: 7px;margin-left:-40px; font-weight:400;">Records Per Page</label>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="section-box">
                    <a routerLink="/addDeviation"><button class="exide-primary-button" style="float: right;margin-top: 10px;">Add new Deviation</button></a>
                       <div class="maker-right-section">
        <button class="btn exide-secondary-button" (click)="sendToCheckerTicket()">Send to checker</button>
    </div>
                    <ag-grid-angular 
                    style="height:400px;" 
                    class="ag-theme-balham ag-grid" 
                    [gridOptions]="gridOptions1" 
                    [enableSorting]="true"
                    [enableFilter]="true" 
                    [rowData]="Ticketlists" 
                    [columnDefs]="columnDefsTicket"
                    paginationPageSize="5" 
                    [isRowSelectable]="isRowSelectable" 
                    [enableColResize]="true"
                    [rowSelection]="rowSelection"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationNumberFormatter]="paginationNumberFormatter"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef">
                    </ag-grid-angular>
                    <div class="col-md-6" style="float: left;margin-top: -24px;margin-left: -15px;">
                        <div class="col-md-2" style="padding-left: 0px;">
                            <select (change)="onPageSizeChanged()" id="page-size" class="pageSize form-control">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <label for="code" style="margin-top: 7px;margin-left:-40px; font-weight:400;">Records Per Page</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-c></footer-c>