
<div class="section-box" style="margin-top: 2%;display: inline-block;width: 100%;">
    <ag-grid-angular style="height: 700px;" 
    class="ag-theme-balham ag-grid" 
    [enableSorting]="true" 
    [enableFilter]="true" 
    [rowData]="lists"
        [columnDefs]="columnDefs" 
        [gridOptions]="gridOptions" 
        rowSelection="multiple" 
        [rowSelection]="rowSelection"
    [enableColResize]="true"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationNumberFormatter]="paginationNumberFormatter"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef">
    </ag-grid-angular>
    <div class="col-md-6" style="float: left;margin-top: -24px;margin-left: -15px;">
        <div class="col-md-2" style="padding-left: 0px;">
            <select (change)="onPageSizeChanged()" id="page-size" class="pageSize form-control">
                <option value="10" selected="">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <label for="code" style="margin-top: 7px;margin-left:-40px; font-weight:400;">Records Per Page</label>
    </div>
</div>
<footer-c></footer-c>