<!--component html goes here -->
<header class="app-header app-nav">
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="exidelife-logo">
                <img src="../../../../assets/images/exidelife-logo.jpg" alt="exide-life-logo" class="header-logo-image">
            </div>
        </div>
        <div class="col-md-6" style="margin-top:25px">
          <button class="exide-primary-button" style="float:right;background:#3791e2" (click)="logout()">Logout</button>
        </div>
    </div>
</header>