<h4 style="margin-left:30px;margin-top:60px">Maker Details</h4>
<div>
    <div>
        <ul class="nav nav-tabs tab-section">
            <li class="active"><a data-toggle="tab" href="#home" (click)='tabClicked("Cash")'>Cash</a></li>
            <li><a data-toggle="tab" href="#menu2" (click)='tabClicked("tickets")'>Tickets</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <a routerLink="/addDeviation"><button class="exide-primary-button temp-mrgn">Add new Deviation</button></a>
                <div class="maker-button-section" style="width: 30%;">
                    <span>Contest :</span>
                    <div class="button-select-option" style="width: 57%;"> 
                        <select [(ngModel)]="selectedValue" placeholder="Select" >
                            <option [ngValue]="undefined" disabled>Select</option>
                            <option *ngFor="let list of lists" value={{list.contestId}} [selected]="select">
                                {{list.contestId}}
                            </option>
                        </select></div>
                    <div class="maker-reject-button">
                        <button type="button" class="makerButton exide-primary-button" (click)="rejectBtn()">Reject</button>
                    </div>
                </div>
                <div class="section-box">
                    <ag-grid-angular style="height: 400px;" class="ag-theme-balham ag-grid" [gridOptions]="gridOptions" [enableSorting]="true"
                        [enableFilter]="true" [rowData]="lists" [columnDefs]="columnDefs" (rowClicked)='onRowClicked($event)'
                        [showToolPanel]="showToolPanel" [rowSelection]="rowSelection"
                        [enableColResize]="true"
                        [rowGroupPanelShow]="rowGroupPanelShow"
                        [pivotPanelShow]="pivotPanelShow"
                        [enableRangeSelection]="true"
                        [pagination]="true"
                        [paginationPageSize]="paginationPageSize"
                        [paginationNumberFormatter]="paginationNumberFormatter"
                        [gridOptions]="gridOptions"
                        [defaultColDef]="defaultColDef">
                    </ag-grid-angular>
                    <div class="col-md-6" style="float: left;margin-top: -24px;margin-left: -15px;">
                        <div class="col-md-2" style="padding-left: 0px;">
                            <select (change)="onPageSizeChanged()" id="page-size" class="pageSize form-control">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <label for="code" style="margin-top: 7px;margin-left:-40px; font-weight:400;">Records Per Page</label>
                    </div>
                    <div class="closeBut">
                        <a routerLink="/"><button class="exide-primary-button">Close</button></a>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <a routerLink="/addDeviationTicket"><button class="exide-primary-button temp-mrgn">Add new Deviation</button></a>
                <div class="maker-button-section" style="width:30%;">
                    <span>Contest :</span>
                    <div class="button-select-option" style="width:57%;"> <select [(ngModel)]="selectedValue" placeholder="Select">
                            <option [ngValue]="undefined"  disabled>Select</option>
                            <option *ngFor="let ticketlist of ticketlists" value={{ticketlist.contestId}}>
                                {{ticketlist.contestId}}
                            </option>
                        </select></div>
                    <div class="maker-reject-button">
                        <button type="button" class="makerButton exide-primary-button" (click)="rejectBtnTicket()">Reject</button>
                    </div>
                </div>
                <div class="section-box">
                    <ag-grid-angular style="height: 400px;" class="ag-theme-balham ag-grid" [gridOptions]="gridOptions1" [enableSorting]="true"
                        [enableFilter]="true" [rowData]="ticketlists" [columnDefs]="columnDefs" (rowClicked)='onRowClicked($event)'
                        [rowSelection]="rowSelection"
    [enableColResize]="true"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationNumberFormatter]="paginationNumberFormatter"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef">
                    </ag-grid-angular>
                    <div class="col-md-6" style="float: left;margin-top: -24px;margin-left: -15px;">
                        <div class="col-md-2" style="padding-left: 0px;">
                            <select (change)="onPageSizeChanged()" id="page-size" class="pageSize form-control">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <label for="code" style="margin-top: 7px;margin-left:-40px; font-weight:400;">Records Per Page</label>
                    </div>
                    <div class="closeBut">
                        <a routerLink="/"><button class="exide-primary-button">Close</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-c></footer-c>